<launch>
    <arg name="spots_file_name" default="spots"/>
    <!--- Set navigation with or without map -->
    <arg name="navigation_with_map" default="true"/>

    <!-- We load the Spots paramatere locations-->
    <include file="$(find rbkairos_navigation)/launch/main_navigation.launch">
        <arg name="spots_file_name" value="$(arg spots_file_name)"/>
    </include>

    <!-- We start the navigation stack-->
    <include file="$(find rbkairos_navigation)/launch/start_navigation_with_deadman.launch">
        <arg name="navigation_with_map" value="$(arg navigation_with_map)"/>
    </include>

    <!-- We start the navigation rviz config-->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rbkairos_navigation)/rviz/navigation.rviz" if="$(arg navigation_with_map)" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rbkairos_navigation)/rviz/navigation_without_map.rviz" unless="$(arg navigation_with_map)" />

</launch>
